@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

$font: "Dongle", sans-serif;

$color-1: #f9f3df;
$color-2: #cdf2ca;
$color-3: #ffc898;
$black: #060d2c;
$white: rgb(238, 238, 238);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background: $color-1;
  color: $black;
}
li {
  list-style: none;
}
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  font-size: 3.3rem;
  text-shadow: 2px 3px 0px $color-1;
  text-align: center;
  letter-spacing: 2px;
}